@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.h2 {
  font-size: 45px;
  line-height: var(--h2-line-height, 1.1);
  color: var(--h2-color, #{variables.$color-2e2e2e});

  // .h2--white
  &--white {
    --h2-color: #{variables.$color-white};
  }

  // .h2__mark
  &__mark {
    color: variables.$color-accent;
  }
}
