@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.2;
  color: var(--h2-color, #{variables.$color-404040});

  // .h2--white
  &--white {
    --h2-color: #{variables.$color-white};
  }

  // .h2__mark
  &__mark {
    color: variables.$color-hover;
  }
}
