$color-white: #fff;
$color-black: #000;

$color-accent: #3d62eb;
$color-hover: #3d62eb;
$color-section-background: #f7fcff;

$color-3d62eb: #3d62eb;
$color-8b8b8b: #8b8b8b;
$color-2e2e2e: #2e2e2e;
$color-515151: #515151;
$color-5c7cee: #5c7cee;
$color-dedede: #dedede;
$color-404040: #404040;
$color-d8dffb: #d8dffb;
$color-f81255: #f81255;
$color-aabdf7: #aabdf7;
$color-fafcfe: #fafcfe;
$color-f7fcff: #f7fcff;
$color-eef8ff: #eef8ff;
