@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.help {
  padding-block: 18px 50px;

  // .help__inner
  &__inner {
    position: relative;
    isolation: isolate;
    padding-block: 65px;
    padding-inline: 128px;
    color: variables.$color-white;
    background-color: variables.$color-accent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 895 707'%3E%3Cpath fill='%23fff' fill-opacity='.03' d='M542.37 8.41a2 2 0 0 1 2.83 0l348.23 348.23a2 2 0 0 1 0 2.83l-346.7 346.7a2 2 0 0 1-2.83 0L195.67 357.94a2 2 0 0 1 0-2.83l346.7-346.7ZM347.29.6a2 2 0 0 1 2.82 0l60.6 60.59a2 2 0 0 1 0 2.82L127.41 347.3a2 2 0 0 0 0 2.82l284.81 284.81a2 2 0 0 1 0 2.83l-60.59 60.6a2 2 0 0 1-2.82 0L.59 350.1a2 2 0 0 1 0-2.82L347.29.59Zm106.6 487.86 89.13 89.13 222.36-222.36-89.13-89.13-222.37 222.36Zm-131.77-129.2 81.74 81.74 80.64-80.63-81.75-81.75-80.63 80.63Zm125.61-131.88 81.75 81.74 95.94-95.95-81.74-81.74-95.95 95.95Z'/%3E%3C/svg%3E");
    background-position: top -87px right -105.01px;
    background-repeat: no-repeat;
    background-size: 894.02px 706.76px;
    border-radius: 10px;
    overflow: hidden;
  }

  // .help__content
  &__content {
    max-inline-size: 542px;
    margin-inline-start: auto;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .help__header
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block-end: 20px;
  }

  // .help__icon
  &__icon {
    flex: 0 0 auto;
    inline-size: 50px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    border-radius: 50%;
  }

  // .help__title
  &__title {
    font-size: 40px;
  }

  // .help__text
  &__text {
    max-inline-size: 504px;
    margin-block-end: 30px;
    font-size: 20px;

    b {
      font-weight: 700;
    }
  }

  // .help__button
  &__button {
    --button-width: 307px;
    --button-border-width: 0;
  }

  // .help__image
  &__image {
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: -1;
    aspect-ratio: 370 / 353;
    font-size: 0;
  }
}
