@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.signup {
  padding-block-end: 42px;

  // .signup__inner
  &__inner {
    padding-block: 40px;
    padding-inline: 40px;
    border-radius: 10px;
    color: variables.$color-white;
    background-color: variables.$color-hover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 895 707'%3E%3Cpath fill='%23fff' fill-opacity='.03' d='M542.37 8.41a2 2 0 0 1 2.83 0l348.23 348.23a2 2 0 0 1 0 2.83l-346.7 346.7a2 2 0 0 1-2.83 0L195.67 357.94a2 2 0 0 1 0-2.83l346.7-346.7ZM347.29.6a2 2 0 0 1 2.82 0l60.6 60.59a2 2 0 0 1 0 2.82L127.41 347.3a2 2 0 0 0 0 2.82l284.81 284.81a2 2 0 0 1 0 2.83l-60.59 60.6a2 2 0 0 1-2.82 0L.59 350.1a2 2 0 0 1 0-2.82L347.29.59Zm106.6 487.86 89.13 89.13 222.36-222.36-89.13-89.13-222.37 222.36Zm-131.77-129.2 81.74 81.74 80.64-80.63-81.75-81.75-80.63 80.63Zm125.61-131.88 81.75 81.74 95.94-95.95-81.74-81.74-95.95 95.95Z'/%3E%3C/svg%3E");
    background-position: top -81.79px right -200.58px;
    background-repeat: no-repeat;
    background-size: 661.14px 522.57px;
  }

  // .signup__title
  &__title {
    margin-block-end: 20px;
    font-size: 40px;
  }

  // .signup__text
  &__text {
    max-inline-size: 504px;
    margin-block-end: 20px;
    font-size: 20px;
  }
}

.signup-form {
  // .signup-form__row
  &__row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  // .signup-form__inputs
  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
    flex: 1 1 auto;
  }

  // .signup-form__name
  &__name {
    block-size: 50px;
    padding-inline: 20px;
    font-size: 14px;
    background-color: variables.$color-5c7cee;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }

    &::placeholder {
      color: variables.$color-dedede;
    }
  }

  // .signup-form__tel
  &__tel {
    block-size: 50px;
    padding-inline: 48px 20px;
    font-size: 14px;
    background-color: variables.$color-5c7cee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 18'%3E%3Cpath fill='%23CE2028' d='M18.5 13.5a2 2 0 0 1-2 2h-14a2 2 0 0 1-2-2v-2h18v2Z'/%3E%3Cpath fill='%2322408C' d='M.5 6.5h18v5H.5v-5Z'/%3E%3Cpath fill='%23EEE' d='M16.5 2.5h-14a2 2 0 0 0-2 2v2h18v-2a2 2 0 0 0-2-2Z'/%3E%3C/svg%3E");
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }

    &::placeholder {
      color: variables.$color-dedede;
    }
  }

  // .signup-form__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 310px;
    min-block-size: 50px;
    padding-block: 5px;
    padding-inline: 30px;
    font-weight: 500;
    font-size: 14px;
    color: variables.$color-black;
    text-align: center;
    background-color: variables.$color-white;
    border-radius: 5px;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }

  // .signup-form__text
  &__text {
    margin-block-start: 9px;
    font-family: variables.$font-gilroy;
    font-size: 10px;
    font-weight: 500;
    color: variables.$color-white;

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 2px;

      @include mixins.prefers-reduced-motion {
        transition-property: text-decoration-color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        text-decoration-color: rgba($color: variables.$color-white, $alpha: 0);
      }
    }
  }
}
