@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.types {
  padding-block: 50px;
  background-color: variables.$color-fafcfe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 895 708'%3E%3Cpath fill='%233D62EB' fill-opacity='.03' d='M543.01 9.35a2 2 0 0 1 2.83 0l348.23 348.23a2 2 0 0 1 0 2.83l-346.7 346.7a2 2 0 0 1-2.83 0L196.31 358.88a2 2 0 0 1 0-2.83l346.7-346.7ZM347.93 1.53a2 2 0 0 1 2.82 0l60.6 60.59a2 2 0 0 1 0 2.82L128.06 348.23a2 2 0 0 0 0 2.82l284.82 284.82a2 2 0 0 1 0 2.83l-60.6 60.58a2 2 0 0 1-2.82 0L1.23 351.05a2 2 0 0 1 0-2.82l346.7-346.7Zm106.6 487.86 89.13 89.13 222.36-222.36-89.13-89.13-222.36 222.36ZM322.76 360.2l81.75 81.74 80.63-80.63-81.75-81.75-80.63 80.63ZM448.37 228.3l81.75 81.74 95.95-95.95-81.75-81.74-95.95 95.95Z'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 895 708'%3E%3Cpath fill='%233D62EB' fill-opacity='.03' d='M543.01 9.35a2 2 0 0 1 2.83 0l348.23 348.23a2 2 0 0 1 0 2.83l-346.7 346.7a2 2 0 0 1-2.83 0L196.31 358.88a2 2 0 0 1 0-2.83l346.7-346.7ZM347.93 1.53a2 2 0 0 1 2.82 0l60.6 60.59a2 2 0 0 1 0 2.82L128.06 348.23a2 2 0 0 0 0 2.82l284.82 284.82a2 2 0 0 1 0 2.83l-60.6 60.58a2 2 0 0 1-2.82 0L1.23 351.05a2 2 0 0 1 0-2.82l346.7-346.7Zm106.6 487.86 89.13 89.13 222.36-222.36-89.13-89.13-222.36 222.36ZM322.76 360.2l81.75 81.74 80.63-80.63-81.75-81.75-80.63 80.63ZM448.37 228.3l81.75 81.74 95.95-95.95-81.75-81.74-95.95 95.95Z'/%3E%3C/svg%3E");
  background-position:
    top -95.06px right -127.66px,
    bottom -335.76px left -528.01px;
  background-repeat: no-repeat;
  background-size:
    894.01px 706.76px,
    894.02px 706.76px;

  // .types__title
  &__title {
    --h2-line-height: 1.2;

    margin-block-end: 35px;
  }
}

.types-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  // .types-list__item
  &__item {
  }
}

.type-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 248 / 286;
  background-color: variables.$color-white;
  border-radius: 10px;
  overflow: hidden;

  // .type-card__title
  &__title {
    padding: 17px;
    text-align: center;
    color: variables.$color-515151;
  }

  // .type-card__image
  &__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    font-size: 0;
  }
}

.type-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-block-size: 26px;
  padding-block: 4px;
  padding-inline: 10px;
  font-size: 14px;
  color: variables.$color-white;
  text-align: center;
  background-color: variables.$color-accent;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-accent;
    background-color: variables.$color-white;
  }

  // .type-button__text
  &__text {
  }

  // .type-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }
}
